
#b1 {
    width: 400px;
    border: 1px solid gray;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#Sign_In{
    font-size: xx-large;
    color: #000;
    height: 20px;
    margin-top: 10px;
}

#EmailPhone {
    margin-bottom: 2px;
}

#EnterEmail{
    width: 88%;
    margin-bottom: 5%;
}

#Password {
    width: 88%;
    margin-bottom: 5%;
}

#Passwordtxt {
    margin-left: 165px;
    color: hsl(214, 100%, 49%);
}

#continueButton{
    width: 90%;
    background-color: rgb(250, 192, 1);
    height: 30px;
    border: 1px solid rgb(146, 146, 146);
}

#account {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mytextdiv{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #9f9f9f;
    padding-top: 15px;
    text-size-adjust: normal;
    

  }

  .mytexttitle{
    flex-grow:0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .divider{
    flex-grow:1;
    height: 1px;
    background-color: #9f9f9f;
  }

#accountButton {
    margin-top: 50px;
    text-align: center;
    width: 425px;
    height: 30px;
    background-color: #e6e5e5;
    border: 1px solid black;
}

#divider{
    height: 1px;
    background-color: grey;
}

#conditions {
    color: hsl(214, 100%, 49%);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

li {
    color: hsl(214, 100%, 49%);
    margin-top: 20px;
    margin-bottom: 15px;
    list-style-type: "\25B8";
    
}

footer {
    text-align: center;
    margin-top: 30px;
    color: black;
}

a:visited{
    color: hsl(214, 100%, 49%);
}

